footer {
  background: #050505;
  height: 108px;
  display: flex;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      color: #ccc;
      font-size: 1.2rem;
      font-weight: 400;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 4rem;
      li {
        svg path {
          fill: #e0e0e0;
          &:hover {
            fill: #4b0f89;
          }
        }
      }
    }
  }
  @include responsive(680px) {
    .container{
      flex-direction: column;
      padding: 20px;
    }
  }
}
